---
import Card from "@components/grids/style-1/card.astro";
import ChevronLeft from "@components/icons/ChevronLeft.astro";
import ChevronRight from "@components/icons/ChevronRight.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { images } from "@utils/imageLinks";
---

<!-- HIDING SCROLLBAR -->
<style>
  section::-webkit-scrollbar {
    @apply fixed h-1 w-2;
  }
  section::-webkit-scrollbar-track {
    @apply mx-1 rounded-md bg-transparent;
  }
  section::-webkit-scrollbar-thumb {
    @apply cursor-pointer rounded-md bg-zinc-800;
  }
</style>

<!-- BODY -->
<BaseLayout>
  <div
    class="relative flex w-full items-center
  justify-center bg-zinc-900 px-4 text-white md:p-10"
  >
    <!-- GRID BODY START -->
    <section
      id="gridContainer"
      class="flex w-full max-w-4xl snap-x gap-4 overflow-x-auto md:flex-col"
    >
      <!-- SECTION 1 START  -->
      <div class="flex h-96 grid-cols-5 grid-rows-4 gap-4 md:grid">
        {
          [0, 1].map((i) => (
            <Card
              title={images[i]?.title ?? ""}
              subTitle={images[i]?.subTitle ?? ""}
              image={images[i]?.image ?? ""}
              className={`card ${
                i === 0 ? "col-span-3 text-black" : "col-span-2"
              } row-span-4 w-80 snap-center  md:w-full `}
            />
          ))
        }
      </div>
      <!-- SECTION 1 END  -->
      <!-- SECTION 2 START  -->
      <div class="flex h-96 grid-cols-5 grid-rows-4 gap-4 md:grid">
        {
          [2, 4, 3].map((i) => (
            <Card
              title={images[i]?.title ?? ""}
              subTitle={images[i]?.subTitle ?? ""}
              image={images[i]?.image ?? ""}
              className={`card w-80 md:w-full ${i === 3 && "text-black"} ${
                i === 4 ? "col-span-3 row-span-4" : "col-span-2 row-span-2"
              }
            `}
            />
          ))
        }
      </div>
      <!-- SECTION 2 END -->
    </section>
    <!-- GRID BODY END -->

    <!-- RIGHT LEFT BUTTONS START -->
    <div class="fixed bottom-0 mb-4 flex w-full gap-4 px-4 md:hidden">
      <span
        id="slideLeft"
        class="inline-flex w-full items-center justify-center rounded-xl bg-zinc-700 px-4 py-3"
      >
        <ChevronLeft />
      </span>
      <span
        id="slideRight"
        class="inline-flex w-full items-center justify-center rounded-xl bg-zinc-700 px-4 py-3"
      >
        <ChevronRight />
      </span>
    </div>
    <!-- RIGHT LEFT BUTTONS END -->
  </div>
</BaseLayout>
<script>
  import { gsap } from "gsap";
  const btnLeft = document.getElementById("slideLeft");
  const btnRight = document.getElementById("slideRight");
  const container = document.getElementById("gridContainer");

  btnLeft?.addEventListener("click", () => {
    if (container) {
      container.scrollBy({ left: -300, behavior: "smooth" });
    }
  });
  btnRight?.addEventListener("click", () => {
    if (container) {
      container.scrollBy({ left: 300, behavior: "smooth" });
    }
  });

  // animate(
  gsap.fromTo(".card", { x: "-100%", duration: 0.8 }, { x: 0, duration: 0.8 });
</script>
