---
export interface Props {
  title?: string;
}
const { title = "Ray's Hold" } = Astro.props;
---

<!-- <style>
  html {
    height: -webkit-fll-available;
  }
  body {
    height: -webkit-fill-available;
  }
</style> -->
<html
  lang="en"
  class={`scroll-pt-10 scroll-smooth select-none`}
  style={{ height: "100%" }}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:title" content={title} />
  </head>
  <body>
    <main class="flex justify-center" style={{ height: "100%" }}>
      <slot />
    </main>
  </body>
  <script>
    const setHeight = () => {
      const currentHeight = window.innerHeight;
      document.body.style.height = `${currentHeight}px`;
    };
    window.addEventListener("resize", setHeight);
    setHeight();
  </script>
</html>
